@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body {
    margin: 0;
    padding: 0;
} */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24%;
    margin-top: 9%;
    
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 10%;
}


.my-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 8.2em;
    margin: 0;
    margin-left: -6px;
    font-weight: 800;
    letter-spacing: 1px;

}


.text-wrapper h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.8em;
    margin: 0;
    color: #696b72;
}

.front-end {
    border-bottom: 2px solid black;
}

.text-wrapper h5{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 7%;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
}

button {
    width: 144px;
    height: 54px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 500;
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    border: 2px solid #7f00e0; 
    transition: all 0.4s ease;
    font-family: 'Heebo', sans-serif;
    letter-spacing: 0.5px;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.1); 
    /* box-shadow: 3px 6px white, 3px 6px 1px 1px #7f00e0;  */
}  

button .btnForEmail {
  text-decoration: none;
  color: black;
}

button:nth-child(1) {
   margin-left: 0;
}

button:focus { outline:0 !important; }

button:hover {
  box-shadow: 3px 7px 10px rgba(70, 255, 246, 0.9);
  background-color: #7f00e0;
  color: white;
  font-weight: 800;
  transform: translateY(-4px);
}
  
button:hover .btnForEmail{
  color: white;
}

button:active {
    transform: scale(.98);
}
/* 
.gradient-border {
  --border-width: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border-radius: var(--border-width);
}
.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
} */