@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


/* body {
    margin: 0;
    padding: 0;
} */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24%;
    margin-top: 5%;
    
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 10%;
}


.my-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 5.2em;
    margin: 0;
    margin-left: -3px;
    font-weight: 800;
    letter-spacing: 1px;

}


.text-wrapper h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin: 0;
    color: #696b72;
}

.front-end {
    border-bottom: 2px solid black;
}

.text-wrapper h5{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin-top: 40px;

}

.btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1%;

}

button {
    width: 150px;
    height: 54px;
    margin: 10px;
    border-radius: 14px;
    font-size: 1.1em;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 4px solid #7f00e0;
    transition: box-shadow 0.4s ease-in-out;
}
button:nth-child(1) {
   margin-left: 0;
}

button:focus { outline:0 !important; }

button:hover {
  box-shadow: 3px 3px 1px 3px #46fff6;
}

button:active {
    transform: scale(.98);
}