@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.nav-div {
    display: flex;
    justify-content: space-between;
    margin: 10px 34px 0 34px;
    padding: 0;
    align-items: center;
}

.logo {
   margin: 0;
   padding: 0;
}

.logo-img {
    margin-top: 12px;
    width: 60px;
}

.nav-container {
    display: flex;
    justify-content: flex-end; 
    /* margin-right: 20px;  */
}

.nav-list {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    /* text-transform: uppercase; */
    list-style: none;
    margin: 10px 14px 10px 14px;
    letter-spacing: 1.4px;
    border: 5px solid transparent;
    transition: color 0.4s;
    cursor: pointer;
}

.nav-list:hover {
    color: #ff7171;
/* 
    border-bottom: 5px solid black; */
}

/* .nav-list:hover::after {
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    border-bottom: 5px solid black; 
} */

.text-under-name {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2em;
    margin: 1% 0;
}